.button {
  margin-top: 10px;
  padding: 12px;
  font-family: "Roboto" !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  &__icon {
    //padding-right: 4px;
  }

  &__primary {
    border: solid 1px #035b96;
    background-color: #007fd4;
    color: #ffffff;
  }

  &__secondary {
    border: solid 1px #c0dff3;
    background-color: rgb(0 153 255 / 10%);
    color: #007fd4;
  }

  &__error {
    border: solid 1px #cb1f2f;
    background-color: #ff253a;
    color: #ffffff;
  }

  &__small {
    padding: 8px;
    max-width: 70px;
    width: 100%;
    font-size: 12px;
  }

  &__medium {
    padding: 10px;
    min-width: 90px;
  }

  &__large {
    padding: 12px;
    min-width: 110px;
  }

  &__expand {
    min-width: -webkit-fill-available;
  }

  &__disabled {
    color: #6e7c91 !important;
    background-color: #f0f3f5 !important;
    border: solid 1px #bbbaba !important;
  }
}
